body {
  background-color: rgb(248, 222, 191);
  width: 500px;
  height: 700px;
  border: 3px solid rgb(255, 253, 247);
  text-align: center;
}

.heading {
  color: rgba(115, 108, 87, 0.78);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parag {
  color: rgb(86, 154, 165);
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid rgb(255, 253, 247);
}